@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.collapse ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #212529;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.collapse ul li:hover::after {
    width: 100%;
}

/* .nav-item a{
    
} */








.contain1 {

    padding-top: 8rem;
    height: 38em;
    padding-left: 3rem;
    padding-right: 3rem;
}

.csr {

    display: inline-block;

}

.text {
    font-family: 'Crimson Text', serif;
    font-family: 'Poppins', sans-serif;
    display: block;
    font-size: 5em;
    /* letter-spacing: 5px; */
    border-right: 5px solid;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;

    animation: typing 3s infinite, cursor .3s step-end infinite alternate;
}

.resume {
    padding-top: 2em;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@media (max-width:1100px) {
    .contain1 {
        height: 32em;
    }
}

@media (max-width:700px) {
    .contain1 h1 {
        font-size: 2em;

    }

    .contain1 {
        height: 30em;
    }

    .contain1 h3 {
        font-size: 2em;
    }

    .text {
        font-size: 3em;
    }
}

@media (max-width:600px) {
    .contain1 h1 {
        font-size: 1.2em;

    }

    .contain1 {
        height: 25em;
    }

    .contain1 h3 {
        font-size: 1em;
    }

    .text {
        font-size: 2em;
    }


}

@media (max-width:300px) {
    .contain1 {
        padding-left: 2rem;
        padding-right: 2rem;

    }

    .contain1 {
        padding-top: 6em;
        height: 20em;
    }

    .contain1 h1 {
        font-size: 1em;
    }

    .contain1 h3 {
        font-size: 0.8em;
    }

    .text {
        font-size: 1.5em;
    }

    .resume {
        font-size: 0.8em;
    }
}

.container {
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    /* width: 500px; */
    width: 50%;
    /* Adjust the dimensions as needed */
    /* height: 500px; */
    height: 100%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: #212529;
}

.container::before {
    content: "";
    position: absolute;
    /* width: 80%; */
    height: 100%;
    /* background-color: #212529; */
    /* Replace with your desired background color */
    /* Adjust the coordinates to create a rhombus shape */
    z-index: -1;
    /* Positions the background below the content */
}

.content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    /* Positions the content above the background */
}

.prac {
    display: flex;
    /* height: 34em; */
    height: 100%;
}

.disc {
    width: 50%;
    padding-top: 2em;
    padding-left: 3em;
    padding-bottom: 2em;
}

.about {

    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.content img {
    height: 440px;
    width: 460px;
}

.disc p {
    padding-right: 3em;
    text-align: justify;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 17px;

}

/* @media (max-width:1200px) {

    .about {
        padding-top: 1.2em;
    }
} */

/* @media (max-width:1100px) {
    .about {
        padding-top: 1em;
        font-size: 40px;
    }

    .disc p {
        font-size: 15px;
    }

} */

@media (max-width:1000px) {
    .prac {
        display: block;
        height: auto;
    }

    .disc {
        padding-left: 3em;
        width: 100%;
        height: 100%;
        padding-bottom: 2em;
    }
}

@media (max-width:800px) {
    /* 
    .prac {
        height: 30em;
    } */

    .content img {
        height: 380px;
        width: 440px;
    }

    .disc {
        padding-bottom: 2em;
        /* height: 18em; */
        height: 100%;
    }
}

@media (max-width:600px) {
    /* 
    .prac {
        height: 23em;
    } */

    .content img {
        height: 310px;
        width: 360px;
    }

    .disc {
        padding-top: 1em;
        height: 100%;
    }

    .about {
        font-size: 35px;
    }

    .disc p {
        font-size: 14px;
    }

    .disc {
        padding-bottom: 2em;
    }
}

@media (max-width:500px) {
    /* .prac {
        height: 20em;
    } */

    .content img {
        height: 220px;
        width: 370px;
    }

    .about {
        font-size: 31px;
    }

    .disc p {
        font-size: 11px;
    }

    .disc {
        padding-bottom: 2em;
        height: 100%;
    }
}

@media (max-width:350px) {
    /* .prac {
        height: 100%em;
    } */

    .content img {
        height: 200px;
        width: 350px;
    }

    .disc {
        padding-bottom: 2em;
        height: 100%;
    }
}


.work {
    background-color: #212529;
    height: 100%;
    color: white;

}

.work-head {
    display: block;
    margin: auto;
    padding-top: 2em;
    width: 50%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
}

.card-bl {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.card0 {
    width: 50%;
    padding: 2em;

}

.card1 {
    width: 50%;
    padding: 2em;

}

.card {
    width: 18rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.img-1 {
    height: 200px;
    width: 280px;
}

.img-2 {
    height: 200px;
    width: 280px;

}

@media (max-width:900px) {
    .card-bl {
        display: block;
    }

    .card0 {
        width: 100%;

        margin: auto;
        justify-content: center;
        align-items: center;
    }


    .card1 {
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 18rem;
    }

    .img-1 {
        height: 180px;
        width: 260px;
    }

    .img-2 {
        height: 180px;
        width: 260px;

    }
}


@media (max-width:800px) {
    .card {
        width: 16rem;
    }

    .img-1 {
        height: 160px;
        width: 240px;
    }

    .img-2 {
        height: 160px;
        width: 240px;

    }
}

@media (max-width:600px) {
    .card {
        width: 13rem;
        height: auto;
    }

    .img-1 {
        height: 110px;
        width: 190px;
    }

    .img-2 {
        height: 110px;
        width: 190px;

    }
}

@media (max-width:500px) {
    .card {
        width: 12rem;
        height: auto;
    }

    .img-1 {
        height: 90px;
        width: 150px;
    }

    .img-2 {
        height: 90px;
        width: 150px;

    }
}